<!DOCTYPE html>
<html lang="en" data-theme="dark">
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    <main>
      <article>{{ block "main" .}}{{ end }}</article>
    </main>
    {{ partial "footer.html" . }}
    <!-- Include KaTeX if necessary -->
    {{ if .Params.katex }} {{ partial "katex.html" . }} {{ end }}
    <!-- Include the mobile fullscreen menu -->
    {{ partial "mobilenav.html" }}
    <!-- Include scripts -->
    {{ partial "script.html" .}}
  </body>
</html>
