<footer>
  <nav>
    <ul>
      <li><a href="https://vlang.io/">Home</a></li>
      <li><a href="/">Blog</a></li>
      <li>
        <a href="https://github.com/vlang/v/blob/master/doc/docs.md">Docs</a>
      </li>
      <li><a href="https://modules.vlang.io/">Modules</a></li>
    </ul>
    <ul>
      <li>
        <a href="https://github.com/vlang/V/tree/master/examples">Examples</a>
      </li>
      <li><a href="https://vpm.vlang.io/">vpm</a></li>
      <li><a href="https://play.vlang.io/">Playground</a></li>
    </ul>
    <ul>
      <li><a href="https://www.patreon.com/vlang">Patreon</a></li>
      <li>
        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=HRGVJ2LA2LKJ8&item_name=Support+V+development&currency_code=USD&source=url&lc=US"
        >
          Paypal
        </a>
      </li>
      <li>
        <a href="https://github.com/sponsors/medvednikov">GitHub</a>
      </li>
    </ul>
  </nav>
  <img
    id="footer-veasel"
    width="100px"
    src="/images/veasel.webp"
    alt="Veasel - A cute weasel which is the official mascot for V"
  />
  <div class="icons">
    <a
      href="https://twitter.com/v_language"
      aria-details="Official Twitter Handle"
    >
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a>
    <a
      href="https://discord.gg/vlang"
      aria-details="Invitation to Discord Server"
    >
      <i class="fa fa-discord-alt fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://github.com/vlang/v" aria-details="Link to GitHub Page">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a
      href="https://www.youtube.com/channel/UCLZIElNyubHOvbfudT7KS1A"
      aria-details="YouTube channel"
    >
      <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://t.me/vlang_en" aria-details="Telegram Channel">
      <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://twitch.tv/v_language" aria-details="Link to Twitch">
      <i class="fa fa-twitch fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="copyright">
    &copy; 2019-{{ now.Format "2006" }}
    <a href="https://github.com/orgs/vlang/people">
      The&nbsp;V&nbsp;Programming&nbsp;Language&nbsp;Team
    </a>
  </div>
</footer>
