<div id="mobile-navlinks">
  <ul>
    <li><a href="https://vlang.io/">Homepage</a></li>
    <li><a href="/index.html">Blog Homepage</a></li>
    <li>
      <a href="https://github.com/vlang/v/blob/master/doc/docs.md">
        Documentation
      </a>
    </li>
    <li><a href="https://modules.vlang.io/">Modules</a></li>
    <li>
      <a href="https://github.com/vlang/V/tree/master/examples">Examples</a>
    </li>
    <li><a href="https://vpm.vlang.io/">vpm</a></li>
    <li><a href="https://play.vlang.io/">Playground</a></li>
    <li><a href="https://www.patreon.com/vlang">Patreon</a></li>
    <li>
      <a
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=HRGVJ2LA2LKJ8&item_name=Support+V+development&currency_code=USD&source=url&lc=US"
      >
        Paypal
      </a>
    </li>
    <li>
      <a href="https://github.com/sponsors/medvednikov">GitHub</a>
    </li>
  </ul>
</div>
