<script type="text/javascript" src="/js/theme/toggle.js"></script>
<script type="text/javascript" src="/js/nav/dropdown.js"></script>
<script type="text/javascript" src="/js/nav/mobilemenu.js"></script>
<script
  src="https://giscus.app/client.js"
  data-repo="hungrybluedev/vlang-blog"
  data-repo-id="MDEwOlJlcG9zaXRvcnk0MDc5NjgwNDQ="
  data-category="General"
  data-category-id="DIC_kwDOGFEZLM4B_ojp"
  data-mapping="title"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-theme="light"
  data-lang="en"
  crossorigin="anonymous"
  defer
  async
></script>
