<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div id="hero">
      <h1 class="title">Official Blog</h1>
      <img
        id="hero-veasel"
        width="200px"
        src="/images/veasel.webp"
        alt="Veasel - A cute weasel which is the official mascot for V"
      />
      <p class="subtitle">News and columns for the V Programming Language</p>
    </div>
    <div class="horizontal">
      <main>
        <div id="latest">
          <h2>Latest</h2>
          {{ range .Site.Pages }} {{ if in .Permalink "blog" }}
          <!-- Select the Blog Post Page/Folder -->
          {{ range first 2 .Pages.ByPublishDate.Reverse }}
          <!-- Select the two most recent blog posts -->
          <div class="post">
            <h3>
              <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </h3>
            {{ if .Params.image }}
            <figure>
              <a href="{{ .RelPermalink }}">
                <img
                  src="/{{ .Params.image }}"
                  alt="{{ .Params.summary | markdownify }}"
                />
              </a>
              <figcaption>{{ .Params.subtitle | markdownify }}</figcaption>
            </figure>
            {{ else }}
            <p>{{ .Params.summary | markdownify }}</p>
            {{ end }}
          </div>
          <!-- Summary of the posts -->
          {{ end }} {{ end }} {{ end }}
        </div>
        More posts available <a href="/blog/">here</a>.
      </main>
      <aside>
        <h2>
          <a href="/blog/">All Posts</a> &nbsp;
          <svg
            x="0px"
            y="0px"
            width="18px"
            height="18px"
            viewBox="0 0 8 8"
            style="fill: var(--primary-fg)"
          >
            <rect
              x="2.95"
              y="1.921"
              transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 7.6689 8.4842)"
              width="5.283"
              height="1.466"
            />
            <rect x="0.024" y="3.157" width="6.375" height="1.683" />
            <rect
              x="2.956"
              y="4.615"
              transform="matrix(-0.7069 0.7073 -0.7073 -0.7069 13.3369 5.1684)"
              width="5.284"
              height="1.465"
            />
          </svg>
        </h2>
        <p>
          We post community updates, short guides, and other information
          regularly.
        </p>
        <h2>
          <a href="/people/">People</a> &nbsp;
          <svg
            x="0px"
            y="0px"
            width="18px"
            height="18px"
            viewBox="0 0 8 8"
            style="fill: var(--primary-fg)"
          >
            <rect
              x="2.95"
              y="1.921"
              transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 7.6689 8.4842)"
              width="5.283"
              height="1.466"
            />
            <rect x="0.024" y="3.157" width="6.375" height="1.683" />
            <rect
              x="2.956"
              y="4.615"
              transform="matrix(-0.7069 0.7073 -0.7073 -0.7069 13.3369 5.1684)"
              width="5.284"
              height="1.465"
            />
          </svg>
        </h2>
        <p>
          It is an organised collection of articles on the contributors who make
          V Lang greater than the sum of its parts.
        </p>
      </aside>
    </div>
    {{ partial "footer.html" . }} {{ partial "mobilenav.html" }}
  </body>
</html>
