* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  // CSS Variables obtained from:
  // https://github.com/vlang/v/blob/master/cmd/tools/vdoc/resources/doc.css
  --background-color: #fff;
  --link-color: #2779bd;
  --link-visited: #083c66;
  --text-color: #000;
  --menu-background-color: #4b6c88;
  --menu-text-color: #fff;
  // Helper variables that are used to adapt the default variables to this website's configuration.
  --primary-fg: var(--text-color);
  --secondary-fg: #222;
  --primary-bg: var(--background-color);
  --secondary-bg: #eee;
  --news-category: #d7e9f8;
  --tutorials-category: #f3d8b4;
  --showcase-category: #f3b4c7;
}
body {
  font-size: 18px;
  font-family: "PT Serif", serif;
  background-color: var(--primary-bg);
  color: var(--primary-fg);

  #hero {
    margin: 2rem 1rem;
  }

  #logo {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url("/ms-icon-70x70.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    padding: 1rem;
    font-family: "Jost", sans-serif;

    #right-container {
      display: flex;
      align-items: center;
    }

    #theme-toggle-button {
      width: 36px;
      height: 36px;
      position: relative;
      border: none;
      background: transparent;

      svg {
        position: absolute;
        top: 4px;
        left: 4px;

        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
      svg.active {
        opacity: 1;
      }
    }
    #theme-toggle-button:focus,
    #theme-toggle-button:hover {
      opacity: 0.8;
    }

    ul {
      list-style-type: none;
      display: flex;

      li {
        margin: 1rem;
        display: flex;
      }

      .dropdown-menu {
        position: absolute;
        background-color: var(--secondary-bg);
        pointer-events: none;
        opacity: 0;

        top: 2.5rem;
        left: -1rem;

        ul {
          display: flex;
          flex-direction: column;
        }
      }

      .dropdown-menu.active {
        opacity: 1;
        pointer-events: auto;
      }

      .dropdown-item {
        position: relative;
      }
    }
  }

  aside {
    padding: 1rem;
    line-height: 1.8rem;
  }

  a {
    color: var(--link-color);
    text-decoration: dotted underline;
  }
  a:hover,
  a:focus {
    opacity: 0.8;
    text-decoration: solid underline;
  }
  a:visited {
    color: var(--link-visited);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Jost", sans-serif;
    line-height: normal;
    margin: 2rem 0 0.5rem 0;
  }

  .title {
    font-size: 3rem;
    text-align: center;
  }
  .subtitle {
    text-align: center;
    padding-top: 1rem;
    font-style: italic;
    line-height: normal;
    border-top: 2px solid var(--secondary-fg);
    margin-top: 2rem;
  }

  main {
    padding: 1rem;

    p,
    ul,
    li {
      line-height: 1.8rem;
    }

    li {
      margin-left: 1.5rem;
    }

    figure {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 2rem 5%;
        width: 90%;
        border-radius: 2px;
      }

      figcaption {
        font-style: italic;
      }
    }

    ul.categories {
      width: 100%;
      border-bottom: 2px solid var(--secondary-fg);
      padding-bottom: 1rem;
      margin: 1rem auto;
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        .category {
          border-radius: 2px;
          padding: 3px 10px;
        }

        .news {
          background-color: var(--news-category);
        }

        .tutorials {
          background-color: var(--tutorials-category);
        }

        .showcase {
          background-color: var(--showcase-category);
        }
      }
    }

    .timesection {
      font-size: 1rem;
      width: 100%;
      color: var(--secondary-fg);
      text-align: center;
      font-style: italic;
    }

    .author {
      font-size: 1.5rem;
      text-align: center;
      border-top: 2px solid var(--secondary-fg);
      border-bottom: 2px solid var(--secondary-fg);
      padding: 1rem 0;
      margin: 1rem 0;
    }
  }

  footer {
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  #mobile-navlinks {
    display: block;
    position: absolute;
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }
  #desktop-navlinks {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    #mobile-navlinks {
      display: none;
    }
    #desktop-navlinks {
      display: flex;
    }

    .horizontal {
      display: flex;
      flex-direction: row;
    }

    main {
      max-width: 70ch;
      width: 70%;
    }

    aside {
      max-width: 35ch;
      width: 30%;
    }
  }
}
